﻿@*@{
    ViewData["Title"] = "Home Page";
}*@
@model Championship.Model.ModelForView



@*<style type="text/css">
    TABLE {
        border: 2px solid #000;
    }

    TD, TH {
        padding: 5px; 
        border: 1px solid #000;
        text-align:center;
    }
</style>
<table>
<tr>
    <th></th>
    @foreach(var team in Model.Teams)
    {
        <th>
            @Html.DisplayFor(modelItem => team.Name)
        </th>
    }
    <th>Победа</th>
    <th>Ничья</th>
    <th>Поражение</th>
</tr>


@foreach (var team in Model.Teams)
{
    var tableRow = Model.TableResults.Find(tableRes => tableRes.Team.Id == team.Id);
    <tr>
        <td>@Html.DisplayFor(modelItem => team.Name)</td>
        @foreach (var teamMatch in Model.Teams)
        {
            string outDisplay;
            if (teamMatch.Id != team.Id)
            {
                var match = tableRow.Matches.Find(matchRes => matchRes.TeamOne.Id == teamMatch.Id || matchRes.TeamTwo.Id == teamMatch.Id);
                outDisplay = match?.ToStringForTeam(team) ?? "X";
            }
            else
            {
                outDisplay = "X";
            }
            <td>
                @Html.DisplayFor(modelItem => outDisplay)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => tableRow.Win)
        </td>
        <td>
            @Html.DisplayFor(modelItem => tableRow.Draw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => tableRow.Loss)
        </td>
    </tr>
}
    </table>*@

<p></p>
<table id="example">
    <thead>
        <tr>
            <th></th>
            @foreach (var team in Model.Teams)
            {
                <th>
                    @Html.DisplayFor(modelItem => team.Name)
                </th>
            }
            <th>Победа</th>
            <th>Ничья</th>
            <th>Поражение</th>
        </tr>
    </thead>
</table>

<link rel="stylesheet" type="text/css" href="~/lib/datatables/media/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
<script>
    //function find(array, teamId)
    //{
    //    for(item in array)
    //    {
    //        if(item.idTeamOne == teamId || item.idTeamTwo == teamId)
    //            return item;           
    //    }
    //    return null;
    
    //};
   
    $("#example").dataTable({

       // "bServerSide": true,
        "sAjaxSource": "Api/GetTableCampionship",
        //"aoColumnDefs":[{
        //    "aTargets": [0]
        //    , "bSortable": false       
        //}],

        //"aaData": [
        //  ["htmlhook.ru", "https://htmlhook.ru/", "Блог", "2013-10-15 10:30:00"],
        //  ["Новый путь", "http://www.phppath.ru/", "Блог", "2013-09-15 09:20:00"],
        //  ["Портал UA", "http://pixelcom.at.ua/", "Интернет магазин", "null"],
        //],
        //"aoColumns": function(data) 
        //{
        //    console.log("Mi zdesia2");
        //    var array = [];
            
        //    for (d in data.list) {
        //        array.push({
        //            "mData": d.team.name
        //        });
        //        for (team in data.teams) {
        //            array.push({
        //                "mData": function () {
        //                    if(team.id == d.team.id)
        //                        return "X";
        //                    var match = find[team.id]
        //                    if (match != null)
        //                    {
        //                        if(match.idTeamOne == team.id)
        //                        {
        //                            return match.countGoalsTeamOne + ":" + match.countGoalsTeamTwo;
        //                        }
        //                        else {

        //                            return match.countGoalsTeamTwo + ":" + match.countGoalsTeamOne;
        //                        }
        //                    }
        //                    return "X";
        //                }
        //                //"mRender": function (url, type, full) {
        //                //    if (team.id == d.team.id)
        //                //        return "X";
        //                //}
        //            });
        //        }

        //        array.push({
        //            "mData": d.win
        //        });
        //        array.push({
        //            "mData": d.draw
        //        });
        //        array.push({
        //            "mData": d.loss
        //        });
        //    }
        //    console.log(array);
        //    return array;
        //},
        //[{
        //    "mData":"name",
        //    "sTitle": "Название сайта"
        //},
        //for
        //{}],


        //"aoColumnDefs": [{
        //    "sTitle": "Название сайта"
        //    , "aTargets": ["site_name"]
        //}, {
        //    "aTargets": [1]
        //    , "bSortable": false
        //    , "mRender": function (url, type, full) {
        //        return '<a href="' + url + '">' + url + '</a>';
        //    }
        //}, {
        //    "aTargets": [3]
        //    , "sType": "date"
        //    , "mRender": function (date, type, full) {
        //        return (full[2] == "Блог")
        //                  ? new Date(date).toDateString()
        //                  : "N/A";
        //    }
        //}],
        //"fnServerData": function (sSource, aoData, fnCallback) {
        //   // aoData.push({ "name": "roleId", "value": "admin" });
        //    $.ajax({
        //        "dataType": 'json',
        //        "contentType": "application/json; charset=utf-8",
        //        "type": "GET",
        //        "url": sSource,
        //       // "data": aoData,
        //        "success": function (msg) {
        //            var json = jQuery.parseJSON(msg.d);
        //            fnCallback(json);
        //            $("#tblData").show();
        //        },
        //        error: function (xhr, textStatus, error) {
        //            if (typeof console == "object") {
        //                console.log(xhr.status + "," + xhr.responseText + "," + textStatus + "," + error);
        //            }
        //        }
        //    });
        //},
        language: {
            "processing": "Подождите...",
            "search": "Поиск:",
            "lengthMenu": "Показать _MENU_ записей",
            "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
            "infoEmpty": "Записи с 0 до 0 из 0 записей",
            "infoFiltered": "(отфильтровано из _MAX_ записей)",
            "infoPostFix": "",
            "loadingRecords": "Загрузка записей...",
            "zeroRecords": "Записи отсутствуют.",
            "emptyTable": "В таблице отсутствуют данные",
            "paginate": {
                "first": "Первая",
                "previous": "Предыдущая",
                "next": "Следующая",
                "last": "Последняя"
            },
            "aria": {
                "sortAscending": ": активировать для сортировки столбца по возрастанию",
                "sortDescending": ": активировать для сортировки столбца по убыванию"
            }
        }
    });
</script>
